* {
  font-family: "Roboto", sans-serif;
}

body {
  color: #d3d3d3;
  background-color: #151515;
}

#app {
  max-width: 1350px;
  margin: auto;
}

.boldText {
  font-weight: bold;
  margin-left: 1rem;
}

.header {
  text-align: center;
}

.hullSelector {
  display: flex;
  flex-direction: row;
}

.hullSelection,
.fittingRow {
  display: flex;
  flex-direction: row;
  height: 1.5rem;
  align-items: center;

  p {
    margin: 0 1rem;
  }
}

.rowContainer {
  display: flex;
  flex-wrap: wrap;
}

.fittingRow {
  width: 50%;
  position: relative;
}

.fittingRowGroup {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  left: 2.5rem;
  width: 91.8%;

  select {
    width: 100%;
    margin: 0;
  }

  input {
    width: 5%;
  }

  button {
    margin: 0;
  }
}

.builderSection {
  margin: 1.5rem 0;
}

.sectionHeading {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid white;
  padding-bottom: 0.5rem;
  margin: 0 1rem 0.5rem 1rem;

  h2 {
    margin: 0;
    padding: 0;
  }
}

table {
  margin-top: 2rem;

  th,
  td {
    padding: 0 0.5rem;
    text-align: center;
  }
}

.results {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.resultSubset {
  display: flex;
}

.resultOverflow {
  color: red;
}

@media (max-width: 1290px) {
  .results {
    flex-direction: column;
  }
}

@media (max-width: 1245px) {
  .hullSelection {
    flex-direction: column;
    height: auto;
  }

  .hullSelector {
    margin-bottom: 1rem;
  }
}

@media (max-width: 900px) {
  .rowContainer {
    flex-direction: column;
  }

  .fittingRow {
    width: 100%;
  }
}

@media (max-width: 670px) {
  .resultSubset {
    flex-direction: column;
  }
}
